In [1]:
import os.path
import pandas as pd
import numpy as np

## Are homegrown players generally the best in their respective leagues or are they inferior to the foreign players playing in that league? Are these findings portrayed in the FIFA 18’s ratings.

In [111]:
RQ31617 = pd.read_csv("Joined1617.csv")

In [112]:
RQ31617 = RQ31617[[
'name',
'full_name',
 'club',
 'age',
 'league',
 'birth_date',
 'nationality',
 'overall',
 'potential',
 'international_reputation',
 'skill_moves',
'Players',
 'Points',
 'Clubs',
 'Position',
 'Start',
 'Goals',
 'A',
 'CS',
 'CS part',
 'Yellow',
 'Red',
 'Sub',
 'CO',
 'Off',
 'Pen SV',
 'Pen M',
 'Goals conceded',
 'Conceded 1+',
 'OG',
 'Firstname']]

In [113]:
names=RQ31617['nationality'].unique().tolist()

In [119]:
Homegrown_EPL = (RQ31617.loc[RQ31617.nationality=='England'])
Homegrown_EPL = Homegrown_EPL.loc[Homegrown_EPL.league=='English Premier League']

Foreign_EPL = (RQ31617.loc[RQ31617.nationality!='England'])
Foreign_EPL = Foreign_EPL.loc[Foreign_EPL.league=='English Premier League']

In [120]:
Foreign_EPL.head(5)

,name,full_name,club,age,league,birth_date,nationality,overall,potential,international_reputation,...,Red,Sub,CO,Off,Pen SV,Pen M,Goals conceded,Conceded 1+,OG,Firstname
7,De Gea,David De Gea Quintana,Manchester United,26,English Premier League,1990-11-07,Spain,90,92,4,...,0,0,0,0,0,0,29,8,0,David
8,E. Hazard,Eden Hazard,Chelsea,26,English Premier League,1991-01-07,Belgium,90,91,4,...,0,0,0,25,0,1,0,0,0,Eden
11,K. De Bruyne,Kevin De Bruyne,Manchester City,26,English Premier League,1991-06-28,Belgium,89,92,4,...,0,4,3,11,0,1,0,0,0,Kevin
12,T. Courtois,Thibaut Courtois,Chelsea,25,English Premier League,1992-05-11,Belgium,89,92,4,...,0,0,0,0,0,0,28,8,0,Thibaut
13,A. Sanchez,Alexis Sanchez,Arsenal,28,English Premier League,1988-12-19,Chile,89,89,4,...,0,2,2,8,0,1,0,0,0,Alexis

In [121]:
Homegrown_EPL.head(5)

,name,full_name,club,age,league,birth_date,nationality,overall,potential,international_reputation,...,Red,Sub,CO,Off,Pen SV,Pen M,Goals conceded,Conceded 1+,OG,Firstname
35,H. Kane,Harry Kane,Tottenham Hotspur,23,English Premier League,1993-07-28,England,86,90,3,...,0,1,1,16,0,1,0,0,0,Harry
37,J. Rodriguez,Jay Rodriguez,West Bromwich Albion,27,English Premier League,1989-07-29,England,76,76,2,...,0,22,15,6,0,0,0,0,0,Jay
68,D. Alli,Dele Alli,Tottenham Hotspur,21,English Premier League,1996-04-11,England,84,90,3,...,0,2,2,13,0,0,0,0,0,Dele
81,G. Cahill,Gary Cahill,Chelsea,31,English Premier League,1985-12-19,England,84,84,3,...,0,2,1,1,0,0,30,9,1,Gary
101,K. Walker,Kyle Walker,Manchester City,27,English Premier League,1990-05-28,England,83,84,3,...,0,4,2,5,0,0,23,5,0,Kyle

Homegrown_BUN = Homegrown_BUN.loc[Homegrown_BUN.Position=='Defender']
Could be usedfor XI's

In [132]:
Homegrown_BUN = (RQ31617.loc[RQ31617.nationality=='Germany'])
Homegrown_BUN = Homegrown_BUN.loc[Homegrown_BUN.league=='German Bundesliga']

Foreign_BUN = (RQ31617.loc[RQ31617.nationality!='Germany'])
Foreign_BUN = Foreign_BUN.loc[Foreign_BUN.league=='German Bundesliga']

In [133]:
Homegrown_BUN.head(5)

,name,full_name,club,age,league,birth_date,nationality,overall,potential,international_reputation,...,Red,Sub,CO,Off,Pen SV,Pen M,Goals conceded,Conceded 1+,OG,Firstname
5,M. Neuer,Manuel Neuer,FC Bayern Munich,31,German Bundesliga,1986-03-27,Germany,92,92,5,...,0,0,0,0,0,0,13,1,0,Manuel
20,J. Boateng,Jerome Boateng,FC Bayern Munich,28,German Bundesliga,1988-09-03,Germany,88,88,4,...,0,9,3,4,0,0,12,4,0,Jerome
22,M. Hummels,Mats Hummels,FC Bayern Munich,28,German Bundesliga,1988-12-16,Germany,88,88,4,...,0,5,3,3,0,0,16,2,0,Mats
41,T. Muller,Thomas Muller,FC Bayern Munich,27,German Bundesliga,1989-09-13,Germany,86,86,4,...,0,6,4,5,0,0,0,0,0,Thomas
43,M. Reus,Marco Reus,Borussia Dortmund,28,German Bundesliga,1989-05-31,Germany,86,86,4,...,0,1,1,10,0,0,0,0,0,Marco

In [134]:
Foreign_BUN.head(5)

,name,full_name,club,age,league,birth_date,nationality,overall,potential,international_reputation,...,Red,Sub,CO,Off,Pen SV,Pen M,Goals conceded,Conceded 1+,OG,Firstname
6,R. Lewandowski,Robert Lewandowski,FC Bayern Munich,28,German Bundesliga,1988-08-21,Poland,91,91,4,...,0,2,2,3,0,0,0,0,0,Robert
19,P. Aubameyang,Pierre-Emerick Aubameyang,Borussia Dortmund,28,German Bundesliga,1989-06-18,Gabon,88,88,3,...,0,2,1,5,0,2,0,0,0,Pierre
26,A. Robben,Arjen Robben,FC Bayern Munich,33,German Bundesliga,1984-01-23,Netherlands,88,88,4,...,0,9,5,9,0,0,0,0,0,Arjen
30,A. Vidal,Arturo Vidal,FC Bayern Munich,30,German Bundesliga,1987-05-22,Chile,87,87,4,...,0,9,6,9,0,0,0,0,0,Arturo
36,J. Rodriguez,James Rodriguez,FC Bayern Munich,25,German Bundesliga,1991-07-12,Colombia,86,89,4,...,0,17,9,8,0,0,0,0,0,James

In [137]:
Homegrown_LAL = (RQ31617.loc[RQ31617.nationality=='Spain'])
Homegrown_LAL = Homegrown_LAL.loc[Homegrown_LAL.league=='Spanish Primera Division']

Foreign_LAL = (RQ31617.loc[RQ31617.nationality!='Spain'])
Foreign_LAL = Foreign_LAL.loc[Foreign_LAL.league=='Spanish Primera Division']

In [139]:
Homegrown_LAL.head(5)

,name,full_name,club,age,league,birth_date,nationality,overall,potential,international_reputation,...,Red,Sub,CO,Off,Pen SV,Pen M,Goals conceded,Conceded 1+,OG,Firstname
10,Sergio Ramos,Sergio Ramos Garcia,Real Madrid CF,31,Spanish Primera Division,1986-03-30,Spain,90,90,4,...,1,1,0,1,0,0,35,12,1,Sergio
31,Aleix Vidal,Aleix Vidal Parreu,FC Barcelona,27,Spanish Primera Division,1989-08-21,Spain,76,76,2,...,0,5,1,0,0,0,3,1,0,Aleix
38,Isco,Francisco Roman Alarcon Suarez,Real Madrid CF,25,Spanish Primera Division,1992-04-21,Spain,86,90,3,...,0,18,12,13,0,0,0,0,0,Isco
42,Sergio Busquets,Sergio Busquets Burgos,FC Barcelona,28,Spanish Primera Division,1988-07-16,Spain,86,86,4,...,0,1,0,9,0,0,0,0,0,Sergio
60,Jordi Alba,Jordi Alba Ramos,FC Barcelona,28,Spanish Primera Division,1989-03-21,Spain,85,85,3,...,0,13,5,2,0,0,27,9,0,Jordi

In [142]:
Foreign_LAL.head(5)

,name,full_name,club,age,league,birth_date,nationality,overall,potential,international_reputation,...,Red,Sub,CO,Off,Pen SV,Pen M,Goals conceded,Conceded 1+,OG,Firstname
0,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,32,Spanish Primera Division,1985-02-05,Portugal,94,94,5,...,0,0,0,5,0,1,0,0,0,Cristiano
1,L. Messi,Lionel Messi,FC Barcelona,30,Spanish Primera Division,1987-06-24,Argentina,93,93,5,...,0,2,2,4,0,1,0,0,0,Lionel
3,L. Suarez,Luis Suarez,FC Barcelona,30,Spanish Primera Division,1987-01-24,Uruguay,92,92,5,...,0,3,2,9,0,0,0,0,0,Luis
4,L. Suarez,Leonardo Suarez,Villarreal CF,21,Spanish Primera Division,1996-03-30,Argentina,68,79,1,...,0,8,3,0,0,0,0,0,0,Leonardo
9,T. Kroos,Toni Kroos,Real Madrid CF,27,Spanish Primera Division,1990-01-04,Germany,90,90,4,...,0,4,1,4,0,0,0,0,0,Toni